
body {
    margin: 0;
    display: flex;
    place-items: center;
    background-color: #7e0e40;
}
#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    border-radius: 8px;
    border: 1px solid transparent;
    font-family: inherit;
    background-color: #ffd3e793;
    cursor: pointer;
    transition: 0.25s;
}
button {
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: #ffd3e7;
    cursor: pointer;
    transition: 0.25s;
    margin: 5px;
}

.ArchivedTask {
    color: #851e4c;
}

.InputConter{
    display: flex;
    flex-direction: column;
}

input {
    border-radius: 8px;
    border: 1px solid transparent;
    font-family: inherit;
    background-color: #ffd3e7;
    cursor: pointer;
    transition: 0.25s;
    margin: 5px;
    padding: 10px;
}
textarea {
    border-radius: 8px;
    border: 1px solid transparent;
    font-family: inherit;
    background-color: #ffd3e7;
    cursor: pointer;
    transition: 0.25s;
    margin: 10px;
    padding: 10px;
}
